# Q1. Create one variable containing following type of data:

In [11]:
var1=["PW_skills",[1,2,3,"DataScience",3.5],7.757,(10,100)]

# Q2. Given are some following variables containing data.What will be the data type of the above given variable.

In [13]:
var1 =''
type(var1)

str

In [14]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [15]:
var3=['DS','ML','Python']
type(var3)

list

In [16]:
var4=1.
type(var4)

float

# Q3. Explain the use of the following operators using an example:

In [18]:
'''(i)/ :- It is an Division Operator. It divides one number by another and returns the quotient as a floating-point number'''
sum=10/3
sum

3.3333333333333335

In [19]:
'''(ii)% :- This is an modulo operator. It returns the remainder when one number is divided by another.'''
sum=10%3
sum

1

In [20]:
'''(iii)// :- This is an floor division operator. t divides one number by another and returns the quotient rounded down to the nearest integer.'''
sum=10//3
sum

3

In [21]:
'''(iv) ** :- This is an exponentiation operator. It raises a number to the power of another number.'''
sum=10**3
sum

1000

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [23]:
lst=[True, "Data",258,10<0,15.65,[4,5,8],(4,5,0),4+5j,set(),bin(16)]
for i in lst:
    print(type(i))

<class 'bool'>
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'complex'>
<class 'set'>
<class 'str'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [25]:
a=100
b=10
while a%b==0:
    print("B divide A: ",int(a/b)," times")
    break

B divide A:  10  times

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [31]:
lst=[i for i in range(1,26)]
for i in lst:
    if i%3==0:
        print(i,"divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 divisible by 3
25 is not divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable:- 

Mutable objects in programming refer to objects whose values can be modified or changed after they are created. This means that when you make changes to a mutable object, such as adding or removing elements, the object itself is modified in memory.

Some common examples of mutable objects in programming languages like Python include lists, dictionaries, and sets. For example, you can add or remove elements from a list, update values in a dictionary, or modify the content of a set.

In [32]:
lst=[5,2,5,1,5,8,23,"ML"]
lst[-1]=100
print(lst)

[5, 2, 5, 1, 5, 8, 23, 100]

Immtable:-

Immutable objects in programming refer to objects whose values cannot be modified or changed after they are created.This means that when you make changes to a Immutable object, such as adding or removing elements, the objectn shows an error.

Some common examples of Immutable objects in programming languages like Python include tuple,in,float etc.